.Container{
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

header {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  position: relative;      
  z-index: 2;              
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}


.logo {
  position: absolute;       
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 1;               
  object-fit: cover;        
  opacity: 0.6;             
}


.text-header {
  position: relative;
  text-align: center;
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
  z-index: 2;               
}


.controls {
  display: grid;
  grid-template-columns: 1fr auto;   
  grid-template-rows: auto auto;     
  gap: 12px 16px;
  align-items: center;
}


.search-container {
  grid-column: 1 / 1;
  align-items: center;
  margin-top: 160px;
  position: relative;
}


.search-input {
  width: 260px;
  height: 20px;                 
  padding: 8px 40px 8px 12px;
  font-size: 14px;
  background-color: #f3f3f5;
  border-radius: 8px;
  border: none;
  outline: none;
}


.sort-container {
  grid-column: 1 / 1;
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* --- FILTER BUTTONS --- */
.filter-buttons {
  grid-column: 1 / 3;      
  display: flex;
  justify-self: start;     
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 12px;
}

/* ---Sort buttons --- */
.all {
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  font-size: 10px;          
  background-color: #f3f3f5;
  padding: 6px 10px;        
  cursor: pointer;
}


.all:hover{
    background-color: rgba(59, 53, 56, 1) ;
    color: white;

}

.wall-play{
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    font-size: 10;
    background-color: #f3f3f5;
    cursor: pointer;

}

.wall-play:hover{
    background-color: rgba(59, 53, 56, 1) ;
    color: white;

}

.Fail-hit{
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    font-size: 10;
    background-color: #f3f3f5;
    cursor: pointer;

}

.Fail-hit:hover{
    background-color: rgba(59, 53, 56, 1) ;
    color: white;
}

.Epic-save{
    border-radius: 5px;
    border: none;
    font-size: 10;
    background-color: #f3f3f5;
    cursor: pointer;


}

.Epic-save:hover{
    background-color: rgba(59, 53, 56, 1) ;
    color: white;

}

.sort-container select{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #f3f3f5;
    cursor: pointer;
}


.js-videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}


.video-card-info {
    display: inline-block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: transform 0.2s, box-shadow 0.2s; 
    cursor: pointer;
    margin: 20px;
    height: 400px;
    width: 300px;
    overflow: hidden;
    background: #fff;
}


.video-card-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}


.video-thumbnail .video {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
}


.video-card-info h3 {
    margin: 10px;
    font-size: 16px;
    text-align: center;
}


.video-description {
    margin: 0 10px 10px;
    font-size: 14px;
    color: black;
    text-align: center;
}


.video-category {
    display: block;
    margin: 0 10px;
    padding-top: 5px;
    font-size: 14px;
    text-align: center;
    color: #555;
}


.video-meta {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr auto; /* 2 sloupce */
    padding: 10px;
    row-gap: 4px;
}


.upload-date {
    grid-column: 1 / 2;
    font-size: 14px;
    color: gray;
}


.views {
    grid-column: 2 / 3;
    margin-top: 0;
    font-size: 14px;
    color: gray;
    text-align: right;
}


.author {
    grid-column: 1 / 3;
    font-size: 14px;
    color: gray;
    margin-top: 8px;
    text-align: center;
}


.stars {
    grid-column: 1 / 3;
    font-size: 14px;
    color: gray;
    margin-top: 8px;
    text-align: center;
}