
* {
  box-sizing: border-box;
}



.container {
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.Header {
    position: relative;
    text-align: center;
    height: 300px;
    background-size: cover;
    background-position: cover;
    background: url('png/blue-car.png') center/cover no-repeat ;
}

.Header-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.4); /* bílý závoj, 0.4 = průhlednost */
}  

h1 {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}


.text-header {
    position: relative;
    text-align: center;
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
    z-index: 2;
}


.controls {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: auto;
    margin-left: 16px;
    align-items: center;
}


.search-container {
    grid-column: 1 / 3;
    align-items: center;
    margin-top: 20px;
    position: relative;
}


.search-input {
    width: 250px;
    height: 25px;
    padding: 8px 40px 8px 12px;
    font-size: 14px;
    background-color: #f3f3f5;
    border-radius: 8px;
    border: none;
    outline: none;
}


.sort-container {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-self: end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.sort-order-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    background-color: #f3f3f5;
    padding: 5px;
}

.sort-container .sort-items{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #f3f3f5;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}

/* --- FILTER BUTTONS --- */
.filter-buttons {
    grid-column: 1/ 2;
    display: flex;
    justify-self: start;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
   
}

/* ---Sort buttons --- */
.all {
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #f3f3f5;
    padding: 6px 10px;
    cursor: pointer;
}


.all:hover {
    background-color: rgba(59, 53, 56, 1);
    color: white;

}

.wall-play {
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #f3f3f5;
    cursor: pointer;

}

.wall-play:hover {
    background-color: rgba(59, 53, 56, 1);
    color: white;

}

.Fail-hit {
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #f3f3f5;
    cursor: pointer;

}

.Fail-hit:hover {
    background-color: rgba(59, 53, 56, 1);
    color: white;
}

.Epic-save {
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #f3f3f5;
    cursor: pointer;


}

.Epic-save:hover {
    background-color: rgba(59, 53, 56, 1);
    color: white;

}

.sort-container select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #f3f3f5;
    outline: none;
    cursor: pointer;
}




.js-videos {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    
}


.video-card-info {
    display: inline-block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    margin: 20px;
    height: 400px;
    width: 300px;
    overflow: hidden;
    background: #fff;

}


.video-card-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}


.video-thumbnail .video {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
}


.video-card-info h3 {
    margin: 10px;
    font-size: 16px;
    text-align: center;
}


.video-description {
    margin: 0 10px 10px;
    font-size: 14px;
    color: black;
    text-align: center;
}


.video-category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    margin: 0 10px;
    padding-top: 5px;
}

/* for each button */
.video-tag {
    display: inline-block;

    border-radius: 5px;
    background-color: #f3f3f5;
    padding: 4px 8px;
    font-size: 14px;
    color: #333;
    border: none;
    cursor: pointer;
}

.video-tag:hover {
    background-color: rgba(59, 53, 56, 1);
    color: white;
}

.video-meta {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
    row-gap: 4px;
}


.upload-date {
    grid-column: 1 / 2;
    font-size: 14px;
    color: gray;
}


.views {
    grid-column: 2 / 3;
    margin-top: 0;
    font-size: 14px;
    color: gray;
    text-align: right;
}


.author {
    grid-column: 1 / 3;
    font-size: 14px;
    color: gray;
    margin-top: 8px;
    text-align: center;
}

.option {
    background-color: #f3f3f5;
    border: none;

}

.rating-form {
    text-align: center;
    margin-top: 10px;
}

.rating-input {
  display: inline-flex ;
  flex-direction: row-reverse; 
  gap: 2px;
 
  
}

.rating-input input {
  display: none;                
}

.rating-input label {
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
}

/* vybrané hvězdy + hover efekt */
.rating-input input:checked ~ label,
.rating-input label:hover,
.rating-input label:hover ~ label {
  color: #f5b301;
}