
* {
  box-sizing: border-box;
  margin: 0;
}



.container {
    margin: 0;
    font-family: Arial, sans-serif;
}

.Header {
    
    position: relative;
    text-align: center;
    height: 360px;
    background-size: cover;
    background-position: cover;
    background: url('png/blue-car.png') center/cover no-repeat ;
}

.Header-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.4); /* bílý závoj, 0.4 = průhlednost */
}  

h1 {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
}


.text-header {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
    z-index: 2;
}


.controls {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-auto-rows: auto;
    margin-left: 16px;
    align-items: center;
}


.search-container {
    grid-column: 1 / 2;
    align-items: center;
    margin-top: 20px;
    position: relative;
}


.search-input {
    width: 250px;
    height: 25px;
    padding: 8px 40px 8px 12px;
    font-size: 14px;
    background-color: #f3f3f5;
    border-radius: 8px;
    border: none;
    outline: none;
}


.sort-container {
    grid-column: 2 / 2;
    display: flex;
    align-items: center;
    justify-self: end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.login-btn {
  grid-column: 2 / 3;
  justify-self: end;
  padding: 6px 16px;
  border-radius: 6px;
  border: none;
  background-color: #3b3538;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.sort-order-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    background-color: #f3f3f5;
    padding: 5px;
    margin-right: 20px;
}

.sort-container .sort-items{
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #f3f3f5;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
}

/* --- FILTER BUTTONS --- */
.filter-buttons {
    grid-column: 1/ 2;
    display: flex;
    justify-self: start;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
   
}

/* ---Sort buttons --- */
.filter-btn{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #f3f3f5;
    padding: 6px 10px;
    cursor: pointer;
}


.filter-btn:hover {
    background-color: rgba(59, 53, 56, 1);
    color: white;

}

.wall-play {
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #f3f3f5;
    cursor: pointer;

}

.wall-play:hover {
    background-color: rgba(59, 53, 56, 1);
    color: white;

}

.Fail-hit {
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #f3f3f5;
    cursor: pointer;

}

.Fail-hit:hover {
    background-color: rgba(59, 53, 56, 1);
    color: white;
}

.Epic-save {
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: #f3f3f5;
    cursor: pointer;


}

.Epic-save:hover {
    background-color: rgba(59, 53, 56, 1);
    color: white;

}

.sort-container select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #f3f3f5;
    outline: none;
    cursor: pointer;
}




.js-videos {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    
}


.video-card-info {
    display: inline-block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    margin: 20px;
    height: 400px;
    width: 300px;
    overflow: hidden;
    background: #fff;

}


.video-card-info:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}


.video-thumbnail .video {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
}


.video-card-info h3 {
    margin: 10px;
    font-size: 16px;
    text-align: center;
}


.video-description {
    margin: 0 10px 10px;
    font-size: 14px;
    color: black;
    text-align: center;
}


.video-category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
    margin: 0 10px;
    padding-top: 5px;
}

/* for each button */
.video-tag {
    display: inline-block;

    border-radius: 5px;
    background-color: #f3f3f5;
    padding: 4px 8px;
    font-size: 14px;
    color: #333;
    border: none;
    cursor: pointer;
}

.video-tag:hover {
    background-color: rgba(59, 53, 56, 1);
    color: white;
}

.video-meta {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
    row-gap: 4px;
}


.upload-date {
    grid-column: 1 / 2;
    font-size: 14px;
    color: black;
}


.views {
    grid-column: 2 / 3;
    margin-top: 0;
    font-size: 14px;
    color: black;
    text-align: right;
}


.author {
    grid-column: 1 / 3;
    font-size: 14px;
    color: black;
    margin-top: 8px;
    text-align: center;
}

.option {
    background-color: #f3f3f5;
    border: none;

}

.rating-form {
    text-align: block;
    margin-top: 10px;
}

.rating-input {
  display: inline-flex ;
  flex-direction: row-reverse; 
  gap: 2px;
 
  
}

.rating-input input {
  display: none;                
}

.rating-input label {
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
}


.rating-input input:checked ~ label,
.rating-input label:hover,
.rating-input label:hover ~ label {
  color: #f5b301;
}

.average-rating{
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: black;
    margin-left: 10px;
}


/* Layout outside window */
.login-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;              /*  */
  align-items: center;
  justify-content: center;
  z-index: 1000;
}


.modal-overlay.is-open {
  display: flex;
}

/* window login */
.logining {
  background-color: black;
  border-radius: 10px;
  padding: 20px 24px;
  min-width: 260px;
  max-width: 360px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.3);
  position: relative;
}

/* button on ESC from Pop up login window */
.login-close {
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
}

/* Form in window */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.login-form label {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-form input {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ffffff;
}

.login-submit {
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: rgb(255, 255, 255);
  color: #fff;
  cursor: pointer;
}

.login-submit:hover {
  opacity: 0.9;
}

.btn-login{
  border-radius: 6px;
  border: none;
  background-color:  rgba(59, 53, 56, 1);
  color: floralwhite;
  cursor: pointer;
  size: 14px;
  font-size: 14px;
}

.btn-login:hover{
  opacity: 0.9;
}

.login-overlay{
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login-overlay.is-open{
  display: flex;
}

.logining{
  background-color:#f3f3f5;
  border-radius: 10px;
  padding: 20px 24px;
  min-width: 260px;
  max-width: 360px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
  position: relative;
}

.btn-close-login{
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.login-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.login-form label{
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login form input{
  padding: 6px 8px;
  border-radius: 5px;
  border: 1px solid #ccc;

}

.btn-submit{
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  color: black;
  background-color: rgba(39, 166, 245, 0.8);
  cursor: pointer;
}

.btn-submit{
  opacity: 0.9;
}
